<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-content">
            <div class="post-date">
                {{ moment(post.timestamp).fromNow() }}
            </div>
            <h3 class="text-primary">{{ post.title }}</h3>
            {% if post.body|length > 200 %}
            <p>
            {{ post.body|striptags|truncate }}
            <small><a href="{{ url_for('.show_post', post_id=post.id) }}">Read More</a></small>
            </p>
            {% else %}
            {{ post.body|safe }}
                <br>
            {% endif %}
            <div class="post-footer-left">
                <b>Category</b>: <a href="{{ url_for('.show_category', category_id=post.category.id) }}">
                     {{ post.category.name }}
                </a>
            </div>
            <div class="post-footer-right">
            {% if current_user.is_authenticated %}
                <span class="dropdown">
                    <button class="btn btn-sm btn-light" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-ellipses"></span>
                    </button>
                    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if current_user == post.author %}
                        <a class="dropdown-item" href="{{ url_for('.edit', id=post.id) }}">
                            <span class="oi oi-pencil"></span> Edit
                        </a>
                        <a class="dropdown-item" href="{{ url_for('.delete_post', id=post.id) }}">
                            <span class="oi oi-trash"></span> Delete
                        </a>
                        {% elif current_user.is_administrator() %}
                        <a class="dropdown-item" href="{{ url_for('.edit', id=post.id) }}">
                            <span class="oi oi-pencil"></span> Edit[Admin]
                        </a>
                        <a class="dropdown-item" href="{{ url_for('.delete_post', id=post.id) }}">
                            <span class="oi oi-trash"></span> Delete[Admin]
                        </a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('.post', id=post.id) }}#comments">
                            <span class="oi oi-chat"></span> Comment
                        </a>
                        <a class="dropdown-item" href="{{ url_for('.show_category', category_id=post.category.id) }}">
                            <span class="oi oi-tag"></span> Category
                        </a>
                    </span>
                </span>
            {% endif %}
            </div>
        </div>
    <br>
    </li>
    {% endfor %}
</ul>